[package]
name = "native_shim"
version = "0.1.0"
edition = "2024"

[dependencies]
# 1. 主库 (提供高层 API)
polars = { version = "0.50.0", features = ["lazy", "csv","dtype-date","parquet","strings","regex","timezones",
"semi_anti_join","cross_join","is_between","is_in","log","abs","round_series","dtype-struct","pivot",
"sql","diff","rolling_window","rolling_window_by","json","ipc","asof_join","diagonal_concat",
"dtype-categorical"] }

# 2. 核心库 (提供 Series, 内存布局)
polars-core = { version = "0.50.0" }
polars-ops = { version = "0.50.0", features = ["pivot"] }
# 3. Arrow 库 (提供 FFI, RecordBatch)
polars-arrow = { version = "0.50.0" }

polars-io = { version = "0.50.0", features = ["parquet","cloud"] }
flate2 = { version = "=1.0.35", features = ["rust_backend"] }

[lib]
crate-type = ["cdylib"]

# 开发模式配置：极速编译，无调试信息
[profile.dev]
debug = 0            
strip = "debuginfo"  
opt-level = 0        
panic = "abort"      

# 如果你偶尔需要 release 模式给 .NET 用
[profile.release]
strip = true         
codegen-units = 16